<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% if(user){ %> <% if(user.email==="lodhiumakant800@gmail.com"){ %>
    <header>
      <nav>
        <ul class="header-list">
          <li> <a href="/podcasts/">Podcast</a>   .</li>
          <div class="user-div">
            <p>UserName   :  <a href=""><%=user.name%> </a> (admin)</p>
          </div>
          <div class="register-div">
            <p><a href="/podcasts/new">Add Podcast</a></p>
            <p><a href="/users/logout">Logout</a></p>
          </div>
        </ul>
      </nav>
    </header>

    <% }else{%>
        <header>
            <nav>
              <ul class="header-list">
                <li>  <a href="/podcasts">Podcast</a>  .</li>
                <div class="user-div">
                  <p>UserName   :  <a href=""><%=user.name%> </a></p>
                </div>
                <div class="register-div">
                  <p><a href="/users/logout">Logout</a></p>
                  <p><a href="/podcasts">Podcast List</a></p>
                </div>
              </ul>
            </nav>
          </header>
    <%} %>
    
    <%}else{%>
        <header>
            <nav>
              <ul class="header-list">
                <li class="header-list"> <a href=""> Podcast</a> .</li>
                <div class="user-div">
                <p>Not Login User</p>
                </div>
                <div class="register-div">
                  <p><a href="/users/register">Register</a></p>
                  <p><a href="/users/login">Login</a></p>
                </div>
              </ul>
            </nav>
          </header>
    <%}%>
  </body>
</html>
