<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <div class="home-div">
        <div>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </div>
        <h2><a href="/users">Home</a></h2>
        <div>
            <a href="/users/logout">LogOut</a>
            <a href="/articles/new">Add Article</a>
        </div>
    </div>
    <form action="/articles/new" method="POST">
        <h2 class="article">Article Form </h2>
        <div class="form-div">
            <input type="text" name="title" placeholder="Title">
            <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
            <input type="text" name="author" placeholder="Author">
            <input type="submit" value="Add">
        </div>
       
    </form>
</body>
</html>