<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="home-div">
        <div>
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
        </div>
        <h2><a href="/users">Home</a></h2>
        <div>
            <a href="/users/logout">LogOut</a>
            <a href="/articles/new">Add Article</a>
        </div>
    </div>
    <h2>Article List</h2>
    <%articles.forEach(elm=>{%>
       <h2><a href="/articles/<%=elm.id%>"> <%=elm.title%>  </a></h2> 
    <%})%>
</body>
</html>