<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <body>
<header> 
  <h1 class="h1-home"> HOME PAGE </h1>
</header>
<div class="home-div">
  <div class="register">
    <a href="/users/register"> Register form </a>
  <a href="/users/login">Login</a>
</div>
  <div>
    <a href="">logOut</a>
  </div>
</div>

<div class="add-btn">
  <h2><a href="/articles/new">Add</a></h2>
  <h2><a href="/articles">List</a></h2>
</div>

  </body>
</html>
