<link rel="stylesheet" href="/stylesheets/style.css">
<div class="form-control">
    <form action="/podcast/new" enctype="multipart/form-data" method="POST">
        <h2>Upload Podcast</h2>
        <label>Audio</label>
        <input type="file" name="audio" placeholder="Audio">
        <label>Cover-Image</label>
        <input type="file" name="cover_image" placeholder="Cover-image">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="category" placeholder="Category">
        <div class="btn">
            <button type="submit">update podcast</button>
        </div>

    </form>
</div>