<% include partial/header%>

    <div class="form-control">
        <form action="/users/register" method="POST">
            <h2>Register</h2>
            <% if(error){ %>
                <p>
                    <%= error%>
                </p>
                <% } %>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="text" name="city" placeholder="City">
                    <label>
                        Subscription :
                    </label>
                    <select name="subcription">
                        <option value="free">Free</option>
                        <option value="vip">Vip</option>
                        <option value="premium">Premium</option>
                    </select>
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Register</button>
        </form>
    </div>