<form action="/users/<%=user._id%>/upgrade" method="POST">
    <label>
        Subscription :
    </label>
    <select name="subcription">
        <option value="free">Free</option>
        <option value="vip">Vip</option>
        <option value="premium">Premium</option>
    </select>
    <button type="submit">submit</button>
</form>