<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
<header class="header">
    
<% if (user){ %>
<nav>
    <ul class="nav-bar">
        <h2> Home</h2>
        <div class="list">
        <li> Login User  :  <a href=""><%=user.name%></a></li>
        <li><a href="/users/Logout">Logout</a></li>
        <li><a href="/products"> Product List</a></li>
    </div>
    </ul>
</nav>
    <%}else {%>
        <nav>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href=""> Register</a></li>
            </ul>
        </nav>
    <%}%>
</header>

