<%include partails/hreader%>
<body>
    <div class="cart-div">
        <h2>Add To Cart</h2>
<img class="width img" src="/images/<%=product.productImage%>" alt="">
<h2>Product Name <%= product.name%></h2>
<p>price : ₹<%= product.price%></p>
    </div>
</body>
</html>